/* Landing Page */

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo-left {
  position: absolute;
  left: 40px;
  top: 40px;
}

.User {
  position: absolute;
  right: 10px;
  top: 10px;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-size: 3rem;
}

.slogan {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

.btn-landing {
  text-align: center;
  color: #004d99;
}

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  position: relative;
}

.logo-center {
  position: absolute;
  top: 20%;
}

.notification {
  list-style-type: none;
  position: absolute;
  top: 30%;
  font-size: 1.5rem;
  text-align: center;
}

.input-container {
  margin-top: 2vh;
}

.input-field {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.button {
  margin-top: 2vh;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
